.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.todo-input-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 250px;
}

.filter-tasks {
  display: flex;
  gap: 20px;
}

.row-output {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.input-form-button {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
